

@media (max-width: 576px) {
    #section1{
 
        .text-box{
     margin-top: 40px;
            h1{
                font-size: 25px;
                margin-top: 40px;
            }
            .a-box{
                a{
                 &.first{
                    padding: 10px;
                 }
                 &.second{
                     padding: 10px;
                 }
                }
            }
        }
       
    }
    #section2{
        width: 100%;
       }
    #section3{
      

        .sect3-text{
            h2{
                font-size: 2rem;
            }
            .text-box2{
                width: 100%;
            }
        }
        
    }
    #section4{
       
        .text{
            display: none;
           
         
            h5{
                font-size: 10px;
            }
            h2{
                font-size: 30px;
            }
            a{
                padding: 8px 20px;
            }
        }
    }
   
    #section5 .sect5-text {
      
         width: 100%; 
      
    }
    #section7{
        .text{
            h2{
                font-size: 38px;
            }
        }
   
    }
    #section8{
        .sect8-text{
            h2{
                font-size: 36px;
            }
        }
        .boxes{
            display: none;
        }
    }
    #section9{
        width: 100%;
        text-align: center;
    }
    #footer{
        .footer-box{
            h2{
                font-size: 36px;
            }
            button{
                margin-bottom: 20px;
            }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    #section1{
        .text-box{
            width: 100%;
        }
    }
    #section2{
        width: 100%;
        
        .sect-text{
            h2{
                font-size: 38px;
            }
        }
    }
    #section4{
        .box1{
            text-align: center;
        }
        .box2{
         text-align: center;
          
            ul{
                    display: flex;
                    justify-content: center;
                    align-self:center;
                li{
                    margin-left: 15px;
                    &.line{
                        &::after{
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .text{
            top: 80%;
        }
       
    }
   
    
   
  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    #section2{
        width: 100%;
       
    }
    #section3{
        .sect3-text{
            .text-box2{
                width: 90%;
            }
        }
    }
    #section4{
        .box3{
            display: none;
        }
        .text{
           
        
            h5{
                font-size: 10px;
            }
            h2{
                font-size: 30px;
            }
            a{
                padding: 8px 20px;
            }
        }
    }
    #section6{
        width: 100%;
        .box5{
            display: none;
        }
    }
    #section8{
        .all-text{
            .sect-text{
                h3{
                    font-size: 30px;
                }
            }
        }
    }
    #section9{
        .sect9-text{
            h2{
                font-size: 36px;
            }
        }
    }
    #footer{
        button{
            margin-bottom: 20px;
        }
    }
    #section10{
      
        .sect10-text{
            h2{
                font-size: 25px;
            }
        }
    }
  
  @media (max-width: 1024px) {
   
      #header{
          padding: 1rem 0;
          background:#626A6F;
          .list-box{
              display: none;

          }
      }
      #section8{
         .all-text{
             .sect-text{
                 h3{
                     font-size: 20px;
                 }
             }
         }
      }
    


   

    
}
}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1240px) { 
    #section6{
       .sect-box{
           .box1{
               h3{
                   font-size: 25px;
               }
               i{
                   font-size: 10px;
               }
           }
        .box2{
            strong{
                font-size: 40px;
            }
        }
       }
       .sect-box2{
        .box1{
            h3{
                font-size: 25px;
            }
            i{
                font-size: 10px;
            }
        }
     .box2{
         strong{
             font-size: 40px;
         }
     }
    }
    }
 }
